@font-face {
  font-family: "Modesto Text";
  src: url("//db.onlinewebfonts.com/t/ce95d5f5d67c0b9964fda828ee2671d4.eot");
  src: url("//db.onlinewebfonts.com/t/ce95d5f5d67c0b9964fda828ee2671d4.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ce95d5f5d67c0b9964fda828ee2671d4.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ce95d5f5d67c0b9964fda828ee2671d4.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ce95d5f5d67c0b9964fda828ee2671d4.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ce95d5f5d67c0b9964fda828ee2671d4.svg#ModestoW01-LightText")
      format("svg");
  font-weight: 300;
}
@font-face {
  font-family: "Modesto Text";
  src: url("//db.onlinewebfonts.com/t/c71caf4474bb59d1d6004c4742fdde4f.eot");
  src: url("//db.onlinewebfonts.com/t/c71caf4474bb59d1d6004c4742fdde4f.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c71caf4474bb59d1d6004c4742fdde4f.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c71caf4474bb59d1d6004c4742fdde4f.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c71caf4474bb59d1d6004c4742fdde4f.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c71caf4474bb59d1d6004c4742fdde4f.svg#ModestoW01-MediumText")
      format("svg");
  font-weight: 500;
}
@font-face {
  font-family: "Modesto Text";
  src: url("//db.onlinewebfonts.com/t/617b1b0fd4637fda235c73f27d530305.eot");
  src: url("//db.onlinewebfonts.com/t/617b1b0fd4637fda235c73f27d530305.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/617b1b0fd4637fda235c73f27d530305.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/617b1b0fd4637fda235c73f27d530305.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/617b1b0fd4637fda235c73f27d530305.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/617b1b0fd4637fda235c73f27d530305.svg#ModestoW01-BoldText")
      format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Modesto Expanded";
  src: url("//db.onlinewebfonts.com/t/962c169da925663d8af1d63c1a36537f.eot");
  src: url("//db.onlinewebfonts.com/t/962c169da925663d8af1d63c1a36537f.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/962c169da925663d8af1d63c1a36537f.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/962c169da925663d8af1d63c1a36537f.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/962c169da925663d8af1d63c1a36537f.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/962c169da925663d8af1d63c1a36537f.svg#ModestoW01-Expd")
      format("svg");
}
@font-face {
  font-family: "Mrs Eaves Roman Small Caps";
  src: url("//db.onlinewebfonts.com/t/1e798a96a29f1310f75d552f0bfded8b.eot");
  src: url("//db.onlinewebfonts.com/t/1e798a96a29f1310f75d552f0bfded8b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1e798a96a29f1310f75d552f0bfded8b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/1e798a96a29f1310f75d552f0bfded8b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/1e798a96a29f1310f75d552f0bfded8b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/1e798a96a29f1310f75d552f0bfded8b.svg#MrsEavesSmallCaps")
      format("svg");
}
@font-face {
  font-family: "Bookmania";
  src: url("//db.onlinewebfonts.com/t/805b1856592b2c1dc0869da944ec7e86.eot");
  src: url("//db.onlinewebfonts.com/t/805b1856592b2c1dc0869da944ec7e86.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/805b1856592b2c1dc0869da944ec7e86.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/805b1856592b2c1dc0869da944ec7e86.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/805b1856592b2c1dc0869da944ec7e86.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/805b1856592b2c1dc0869da944ec7e86.svg#BookmaniaW01-Reg")
      format("svg");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin: auto;
  min-height: 100%;
}

body > *:not(#cards-div, #loading-anim-div, h1),
form,
button,
input,
select {
  font-family: Bookmania, serif;
  font-size: 15pt;
  line-height: 1.3em;
}

body > p,
.card-text {
  text-align: justify;
  hyphens: auto;
}

p,
form {
  margin: 0 0 12px;
}

details {
  margin: 0 12px 12px 12px;
}

/* Child selector means no inheritance */
* > details {
  cursor: pointer;
}

details > * {
  margin-bottom: 6px;
}

h1, #loading-anim-div {
  font-family: "Mrs Eaves Roman Small Caps", fantasy;
}

h1 {
  font-size: 38px;
}

@media print {
  /* Hide everything except for the cards for printing */
  body > *:not(#cards-div) {
    display: none !important;
  }
  @page {
    margin: 1cm 0 0;
  }
  body {
    width: 100%;
  }
  #cards-div {
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(auto-fill, 2.5in);
    grid-gap: 3mm;
  }
  .card {
    width: 2.5in;
  }
}

@media screen {
  body {
    max-width: 55rem;
  }
  .card {
    width: 16rem;
  }
  #cards-div {
    grid-template-columns: repeat(auto-fill, 16rem);
    margin-top: 2rem;
    grid-gap: 1rem;
  }
  @media (max-width: 75em) {
    body {
      margin: 0 6.66% 0 6.66%;
    }
  }
}

#cards-div {
  display: grid;
  justify-content: center;
}

svg.symbol {
  /*width: 71px;*/
  height: 100%;
  margin-right: 14px;
}

.smaller-text {
  font-size: 14px;
}
.dropdown {
  display: inline-block;
  position: relative;
  width: 130px;
}

.dropdown summary {
  cursor: pointer;
}

/* Detaching details content */
.dropdown .dropdown-content {
  position: absolute;
  min-inline-size: max-content;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  left: -0.7em;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
}

.dropdown-content {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.invisible {
  display: none;
}

.card {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
}

.card-text {
  font-family: "Modesto Text", serif;
  font-size: 22.917px;
  font-weight: 500;
}

.card-spell-name,
.card-box-labels,
.card-bottom-left-text,
.card-concentration-letter {
  font-family: "Modesto Expanded", fantasy;
}

.card-box-labels,
.card-box-values,
.card-label-at-higher-levels,
.card-spell-name,
.card-concentration-letter,
.card-school-level-text {
  text-anchor: middle;
  text-align: center;
}

.card-spell-name {
  dominant-baseline: central;
}

.card-concentration-letter {
  font-size: 25px;
}

.card-box-values {
  font-size: 30px;
}

.card-box-labels {
  font-size: 30.667px;
}

.card-bottom-left-text,
.card-spell-name {
  font-size: 38.333px;
}

.card-line-thin {
  stroke-width: 4.17px;
}

.card-line-thick {
  stroke-width: 29.17px;
}

.card-label-at-higher-levels,
.card-school-level-text,
.card-bottom-left-text,
.card-concentration-letter,
.card-bottom-logo,
.card-bottom-left-symbols {
  fill: white;
}

.card-frame,
.card-box-labels,
.card-concentration-diamond {
  fill: #9d0a0e;
}

.card-lines {
  stroke: #9d0a0e;
}

div.card-description,
div.card-longer-description {
  overflow: hidden;
}

div.card-description {
  /* TODO: Check if this can be replaced by height: 100% (relevant for text clip check, not implemented) */
  height: 379px;
}

div.card-longer-description {
  height: 554px;
}

/* Loading animation */
.ellipsis span {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.0s;
}

.ellipsis span+span {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
}

.ellipsis span+span+span {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#loading-anim-div {
  display: flex;
  margin-top: 2rem;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#loading-anim-div > p {
  font-size: 30px;
  margin: 0 0 30%;
}